<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'stylesheet.css' %}">
</head>
<body>
    <button id="back" class="buttnStyle" onclick="document.location.href = '/artist'"> Back </button>

<form style="margin-top:100px;">
    <fieldset>
    <label for="fname">First name:</label>
    <input type="text" id="fname"><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname"><br>
    <input type="submit">
    </fieldset>

</form>


</body>
</html>