<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'stylesheet.css' %}">

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <button id="back" class="buttnStyle" onclick="document.location.href = '/dataEntry'"> Back </button>

<h2 style="margin-top:100px;">Artist Table</h2>

<table style="margin-top:15px;">
  <tr>
    <th>Artist ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Street Number</th>
    <th>Street Name</th>
    <th>City</th>
    <th>State</th>
    <th>Zip code</th>
    <th>Age</th>
    <th>Medium</th>
    <th>Style</th>
    <th>Type</th>
  </tr>
  {% for artist in artists %}
  <tr>
     <td>{{artist.artist_id}}</td>
    <td>{{artist.first_name}}</td>
    <td>{{artist.last_name}}</td>
    <td>{{artist.street_num}}</td>
    <td>{{artist.street_name}}</td>
    <td>{{artist.city}}</td>
    <td>{{artist.state}}</td>
    <td>{{artist.zip_code}}</td>
    <td>{{artist.age}}</td>
    <td>{{artist.art_medium}}</td>
    <td>{{artist.art_style}}</td>
    <td>{{artist.type}}</td>
  </tr>
  {% endfor %}
</table>

<button id="addbtn" class="centerbtn" onclick="document.location.href = '/addArtist'">Add Artist</button>

</body>
</html>