<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'stylesheet.css' %}">

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <button id="back" class="buttnStyle" onclick="document.location.href = '/dataEntry'"> Back </button>

<h2 style="margin-top:100px;">Artshow Table</h2>

<table style="margin-top:15px;">
  <tr>
    <th>Show Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Time</th>
    <th>Street Number</th>
    <th>Street Name</th>
    <th>City</th>
    <th>State</th>
    <th>Zip code</th>
  </tr>
  {% for artshow in artshows %}
  <tr>
    {% for artshow in artshows %}
    <td>{{artshow.show_name}}</td>
    {% endfor %}
  </tr>
  <tr>
    {% for artshow in artshows %}
    <td>{{artshow.start_date}}</td>
    {% endfor %}
  </tr>
  <tr>
    {% for artshow in artshows %}
    <td>{{artshow.end_date}}</td>
    {% endfor %}
  </tr>
  <tr>
    {% for artshow in artshows %}
    <td>{{artshow.time}}</td>
    {% endfor %}
  </tr>
  <tr>
    {% for artshow in artshows %}
    <td>{{artshow.style}}</td>
    {% endfor %}
  </tr>
  <tr>
    {% for artshow in artshows %}
    <td>{{artshow.street_num}}</td>
    {% endfor %}
  </tr>
    <tr>
      {% for artshow in artshows %}
    <td>{{artshow.street_name}}</td>
    {% endfor %}
  </tr>
    <tr>
      {% for artshow in artshows %}
    <td>{{artshow.city}}</td>
    {% endfor %}
  </tr>
  <tr>
    {% for artshow in artshows %}
    <td>{{artshow.state}}</td>
    {% endfor %}
  </tr>
  <tr>
    {% for artshow in artshows %}
    <td>{{artshow.zip_code}}</td>
    {% endfor %}
  </tr>
  {% endfor %}

</table>

<button id="addbtn" class="centerbtn" onclick="document.location.href = '/addArtshow'">Add Artshow</button>

</body>
</html>