<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'stylesheet.css' %}">

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <button id="back" class="buttnStyle" onclick="document.location.href = '/dataEntry'"> Back </button>

<h2 style="margin-top:100px;">Buyer Table</h2>

<table style="margin-top:15px;">

  <tr>
    <th>Buyer ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Street Number</th>
    <th>Street Name</th>
    <th>City</th>
    <th>State</th>
    <th>Zip code</th>
    <th>Phone Number</th>
    <th>Number of Purchases</th>
  </tr>
    {% for buyer in buyers %}
  <tr>
     <td>{{buyer.buyer_id}}</td>
    <td>{{buyer.first_name}}</td>
    <td>{{buyer.last_name}}</td>
    <td>{{buyer.street_num}}</td>
    <td>{{buyer.street_name}}</td>
    <td>{{buyer.city}}</td>
    <td>{{buyer.state}}</td>
    <td>{{buyer.zip_code}}</td>
    <td>{{buyer.phone_num}}</td>
    <td>{{buyer.num_purchases}}</td>
  </tr>
  {% endfor %}
</table>

<button id="addbtn" class="centerbtn" onclick="document.location.href = '/addBuyer'">Add Buyer</button>

</body>
</html>