<!DOCTYPE html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'stylesheet.css' %}">
</head>
<body>

    <button id="back" class="buttnStyle" onclick="document.location.href = ''"> Home </button>

 <h2 class="selection-text"> Select a category for data entry </h2>
 <button id="artist" class="buttnStyle" onclick="document.location.href = '/artist'"> Artist</button>
 <button id="artwork" class="buttnStyle" onclick="document.location.href = '/artwork'"> Artwork </button>
 <button id="collector" class="buttnStyle" onclick="document.location.href = '/collector'"> Collector </button>
 <button id="customer" class="buttnStyle" onclick="document.location.href = '/customer'"> Customer </button>
 <button id="artshow" class="buttnStyle" onclick="document.location.href = '/artshow'"> Art Show </button>
 <button id="buyer" class="buttnStyle" onclick="document.location.href = '/buyer'"> Buyer </button>
 <button id="renter" class="buttnStyle" onclick="document.location.href = '/renter'"> Renter </button>
 <button id="sale" class="buttnStyle" onclick="document.location.href = '/sale'"> Sale </button>
 <button id="rent" class="buttnStyle" onclick="document.location.href = '/rent'"> Rent </button>
 <button id="displayed" class="buttnStyle" onclick="document.location.href = '/displayed'"> Diplayed In </button>
 <button id="rented" class="buttnStyle" onclick="document.location.href = '/rented'"> Rented In </button>
 <button id="sold" class="buttnStyle" onclick="document.location.href = '/sold'"> Sold In </button>
</div>
</body>