<!DOCTYPE html>
<html>
<head>
   {% load static %}
    <link rel="stylesheet" href="{%static 'stylesheet.css' %}">

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <button id="back" class="buttnStyle" onclick="document.location.href = '/dataEntry'"> Back </button>

<h2 style="margin-top:100px;">Display Information Table</h2>
    <p>Tracks which art shows a piece of artwork was shown in</p>

<table style="margin-top:15px;">
  <tr>
    <th>Show Name</th>
    <th>Title</th>
    <th>Artist ID</th>
  </tr>
  {% for display in displays %}
<tr>
    <td>{{display.show_name}}</td>
    <td>{{display.title}}</td>
    <td>{{display.artist_id}}</td>
  </tr>
  {% endfor %}

</table>

<button id="addbtn" class="centerbtn" onclick="document.location.href = '/addDisplayed'">Add Display Information</button>

</body>
</html>