<!DOCTYPE html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'stylesheet.css' %}">
</head>
<body>

    <button id="back" class="buttnStyle" onclick="document.location.href = ''"> Home </button>

 <h2 class="selection-text"> Select a Query </h2>
 <button id="artist" class="buttnStyle" onclick="document.location.href = '/query2'"> Query 2 </button>
 <button id="artwork" class="buttnStyle" onclick="document.location.href = '/query1'"> Query 1 </button>
 <button id="collector" class="buttnStyle" onclick="document.location.href = '/query3'"> Query 3 </button>
 <button id="customer" class="buttnStyle" onclick="document.location.href = '/query4'"> Query 4 </button>
 <button id="artshow" class="buttnStyle" onclick="document.location.href = '/query5'"> Query 5 </button>
 <button id="buyer" class="buttnStyle" onclick="document.location.href = '/query6'"> Query 6 </button>
</div>
</body>
