<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'stylesheet.css' %}">

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <button id="back" class="buttnStyle" onclick="document.location.href = '/dataEntry'"> Back </button>

<h2 style="margin-top:100px;">Rented Table</h2>
<p>Stores invoice numbers given to rented pieces of artwork</p>

<table style="margin-top:15px;">
  <tr>
    <th>Invoice Number</th>
    <th>Artist ID</th>
    <th>Title</th>
  </tr>
  {% for rented in renteds %}
<tr>
    <td>{{rented.invoice_num}}</td>
    <td>{{rented.artist_id}}</td>
    <td>{{rented.title}}</td>
  </tr>
  {% endfor %}
</table>

<button id="addbtn" class="centerbtn" onclick="document.location.href = '/addRented'">Add Rented Artwork</button>

</body>
</html>