<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'stylesheet.css' %}">

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <button id="back" class="buttnStyle" onclick="document.location.href = '/dataEntry'"> Back </button>

<h2 style="margin-top:100px;">Renter Table</h2>

<table style="margin-top:15px;">
  <tr>
    <th>Renter ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Street Number</th>
    <th>Street Name</th>
    <th>City</th>
    <th>State</th>
    <th>Zip code</th>
    <th>Phone Number</th>
    <th>Number of Rents</th>
  </tr>
    {% for renter in renters %}
  <tr>
     <td>{{renter.id}}</td>
    <td>{{renter.first_name}}</td>
    <td>{{renter.last_name}}</td>
    <td>{{renter.street_num}}</td>
    <td>{{renter.street_name}}</td>
    <td>{{renter.city}}</td>
    <td>{{renter.state}}</td>
    <td>{{renter.zip_code}}</td>
    <td>{{renter.phone_num}}</td>
    <td>{{renter.num_rents}}</td>
  </tr>
  {% endfor %}

</table>

<button id="addbtn" class="centerbtn" onclick="document.location.href = '/addRenter'">Add Renter</button>

</body>
</html>