<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'stylesheet.css' %}">

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <button id="back" class="buttnStyle" onclick="document.location.href = '/dataEntry'"> Back </button>

<h2 style="margin-top:100px;">Rent Table</h2>
<p>Stores information for each rent contract.</p>

<table style="margin-top:15px;">
  <tr>
    <th>Invoice Number</th>
    <th>Renter ID</th>
    <th>Start Date</th>
    <th>Return Date</th>
    <th>Duration</th>
    <th>Rent Fee</th>
    <th>Artist Percentage</th>
  </tr>
{% for rent in rents%}
  <tr>
    <td>{{rent.invoice_num}}</td>
    <td>{{rent.renter_id}}</td>
    <td>{{rent.start_date}}</td>
    <td>{{rent.return_date}}</td>
    <td>{{rent.duration}}</td>
    <td>{{rent.rent_fee}}</td>
    <td>{{rent.artist_percentage}}</td>
  </tr>
  {% endfor %}
</table>

<button id="addbtn" class="centerbtn" onclick="document.location.href = '/addRent'">Add Rent</button>

</body>
</html>