<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'stylesheet.css' %}">

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <button id="back" class="buttnStyle" onclick="document.location.href = '/dataEntry'"> Back </button>

<h2 style="margin-top:100px;">Sale Table</h2>

<table style="margin-top:15px;">
  <tr>
    <th>Invoice Number</th>
    <th>Buyer ID</th>
    <th>Sale Date</th>
    <th>Sale Price</th>
    <th>Artist Percentage</th>
  </tr>
{% for sale in sales %}
  <tr>
    <td>{{sale.invoice_num}}</td>
    <td>{{sale.buyer_id}}</td>
    <td>{{sale.sale_date}}</td>
    <td>{{sale.sale_price}}</td>
    <td>{{sale.artist_percentage}}</td>
  </tr>
  {% endfor %}

</table>

<button id="addbtn" class="centerbtn" onclick="document.location.href = '/addSale'">Add Sale</button>

</body>
</html>